/* *********** Banner ************* */

#homeBanner .container {
  position: relative;
  background-color: #09587c;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  padding: 0;
}

#homeBanner .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../Images/pic.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  z-index: -1;
}

#homeBanner .container>img:nth-child(1) {
  position: absolute;
  object-fit: cover;
  object-position: left top;
  right: 0;
  top: -1px;
  width: 60%;
  height: 100%;
  z-index: 1;
}

.bannerContent>div:nth-child(1) {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #292929;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerContent>div:nth-child(1) h1 {
  font-family: "Kreon", serif;
  color: white;
  margin-bottom: 20px;
}

.bannerContent>div:nth-child(1) h4 {
  color: #1973ab;
  font-size: 1rem;
}

.bannerContent>div:nth-child(1) h2 {
  color: white;
  font-size: 1.3rem;
}

.bannerContent>div:nth-child(2) ul {
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  padding: 50px 0;
  font-size: 20px;
}

.bannerContent>div:nth-child(2) ul li i {
  margin: 10px 20px 10px 10px;
  font-size: 20px;
}

.bannerContent>div:nth-child(2) ul li:nth-child(1) {
  margin-left: 130px;
}

.bannerContent>div:nth-child(2) ul li:nth-child(2) {
  margin-left: 115px;
}

.bannerContent>div:nth-child(2) ul li:nth-child(3) {
  margin-left: 95px;
}

.bannerContent>div:nth-child(2) ul li:nth-child(4) {
  margin-left: 80px;

}

.bannerContent>div:nth-child(2) ul li:nth-child(5) {
  margin-left: 60px;
}

.bannerContent>div:nth-child(2) ul li:nth-child(6) {
  margin-left: 40px;
}

/* *********** Quote ************* */

.quote {
  margin-top: 20px;
}

.quote .container {
  border: 2px solid transparent;
  border-top-color: blue;
  background-color: #fff;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  display: flex;
}

.quoteNote {
  padding: 20px;
  width: 30%;
}

.quoteNote>h3 {
  font-family: "Kreon", serif;
}

.quoteForm {
  padding: 20px;
  width: 70%;
}

.quoteForm form {
  display: flex;
  justify-content: space-between;
}

.quoteForm form .group-form {
  width: 30%;
}

.quoteForm form .group-form .first,
.quoteForm form .group-form .second {
  margin: 10px 0;
}

.quoteForm form .group-form .first {
  margin-top: 0 !important;
}

.quoteForm form .group-form .first label {
  margin-bottom: 10px;
}

.quoteForm form .group-form .second label {
  margin: 10px 0;
}

.quoteForm form .group-form label {
  font-weight: 600;
  font-size: 14px;
}

.quoteForm form .group-form input {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

.quoteForm form .group-form input:focus {
  outline: none;
  border: 1px solid blue;
}

.quoteForm form .group-form button {
  width: 100%;
  font-family: "Kreon", serif;
  color: white;
  text-align: end;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/638fe270b5e20b9f30aa5a0c/63b7fd84e4a16197ede760ff_DBM%20Button.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* *********** About Us ************* */

#aboutUs .rowww {
  display: flex;
  /* padding: 40px; */
}

#aboutUs .rowww>div:nth-child(1) {
  /* padding: 0px 40px; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutUs .rowww>div:nth-child(1)>h2:nth-child(1) {
  color: #074165;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

#aboutUs .rowww>div:nth-child(1)>h2:nth-child(2) {
  padding: 20px 0px;
  line-height: 1.6em;
  font-weight: bold;
  font-size: 2rem;
  color: #182937;
  width: 85%;
  font-family: "Kreon", serif;
  font-size: 2.5rem;
}

#aboutUs .rowww>div:nth-child(1)>p {
  padding-right: 15px;
  flex-grow: 3;
  width: 90%;
  color: #5e5e5e;
}

#aboutUs .rowww>div:nth-child(2) {
  width: 40%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 0px;
}

#aboutUs .rowww>div:nth-child(2) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* *********** Our Service ************* */
#ourService {
  color: white;
  width: 100%;
  position: relative;
  z-index: 5;
  background-image: url("../Images/bgService.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ourService>img {
  height: 100%;
  width: 100vw;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

#ourService::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(225deg, #09587c 17%, #182937 17%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: -1;
}

#ourService h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

#ourService h3 {
  text-align: center;
  font-family: "Kreon", serif;
  font-size: 2.25rem;
}

#ourService .serviceBox {
  width: 100%;
}

#ourService .serviceBox .box {
  padding: 20px 50px;
  text-align: center;
  margin: 20px 0;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#ourService .serviceBox .box::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #11bee3;
  height: 100%;
  z-index: -1;
  transition: 0.3s all;
}

#ourService .serviceBox .box:hover::after {
  bottom: 0;
  transition: 0.3s all;
}

#ourService .serviceBox .box>h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

#ourService .serviceBox .box>i {
  margin: 20px 0px;
  color: #fff;
}

#ourService .serviceBox .box>a {
  color: #fff;
  font-weight: 600;
}

#ourService .serviceBox .box:hover i {
  color: #040e32;
  transition: 0.3s all;
}

#ourService .serviceBox .box:hover a {
  color: #040e32;
  transition: 0.3s all;
}

/* *********** Choose Us ************* */
.chooseUs {
  padding: 0;
  margin: 50px 0px;
  /* height: 120vh; */
  width: 100%;
  display: flex;
}

.chooseUs>div {
  width: 50%;
}

.chooseUs>div:nth-child(1) {
  padding: 0px 20px;
  height: 100%;
  width: 60%;
}

.chooseUs>div:nth-child(1)>img {
  height: 100%;
  width: 100%;
}

.chooseUs>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.chooseUs>div:nth-child(2)>.chooseUsContent {
  position: relative;
  left: -120px;
  z-index: 1;
  background-color: white;
  padding: 20px 60px;
  margin-top: 50px;
  display: flex;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1) {
  width: 400px;
}

.chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(1) {
  color: #074165;
  font-size: 1.7rem;
  font-weight: 600;
}

.chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(2) {
  font-family: "Kreon", serif;
  font-weight: 600;
  font-size: 2.3rem;
}

.chooseUs .chooseUsBtn> a {
  width: 150px;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #182937;
}

.chooseUs .chooseUsBtn> a:hover {
  background-color: #0e98bd;
  transition: all 0.4s ease;
}

.chooseUs .chooseUsBtn> a:nth-child(1) {
  margin-right: 5px;
}

.chooseUs ul {
  color: #5e5e5e;
}

.chooseUs ul li {
  margin: 10px 0;
}

#experienceCounter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}

#experienceCounter>div h6 {
  color: #5e5e5e;
}

#experienceCounter>div>p {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

#experienceCounter>div sup {
  color: #0e98bd;
}

/* *********** Footer ************* */
footer {
  position: relative;
  background-color: #1a1a1a;
}

/* map  */
.map {
  width: 100%;
  height: 100vh;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(1) {
    font-size: 1.2rem;
  }

  .chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(2) {
    font-size: 1.8rem;
  }

  .chooseUs>div:nth-child(2)>.chooseUsContent {
    height: 69%;
  }

  .chooseUsBtn {
    display: flex !important;
  }

  .owl-carousel.owl-drag .owl-item{
    width: 200px !important;
  }

  footer .slider .item img{
    object-fit: contain !important;
  }
}

@media only screen and (max-width: 762px) {
  #aboutUs .rowww {
    display: flex !important;
    flex-direction: column !important;

  }

  .about_us {
    padding-left: 69px;
  }

  #aboutUs .rowww>div:nth-child(1) {
    width: 100%;
    padding: 0px 10px;
  }

  #aboutUs .rowww>div:nth-child(2) {
    width: 98%;
    margin: auto;
  }

  .chooseUs {
    flex-direction: column;
  }

  .chooseUs>div:nth-child(1) {
    width: 100%;
  }

  .chooseUs>div:nth-child(2)>.chooseUsContent {
    left: 0px;
  }

  .chooseUs>div:nth-child(2) {
    width: 100%;
  }

  #aboutUs .rowww>div:nth-child(1)>p {
    width: 100%;
  }

  #aboutUs .rowww>div:nth-child(1)>h2:nth-child(2) {
    width: 100%;
  }
}

@media only screen and (max-width: 427px) {
  .chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(2) {
    font-size: 2.0rem;
  }
  #experienceCounter{
    margin-top: 25px;
  }

}

@media only screen and (max-width: 383px) {
  .chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(2) {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 299px) {
  .chooseUs>div:nth-child(2)>.chooseUsContent>div:nth-child(1)>h2:nth-child(2) {
    font-size: 1.3rem;
  }
}


@media only screen and (max-width: 608px) {
  .quote .main_quote_form {

    flex-direction: column;
  }

  .quoteNote {
    width: 100%;
    text-align: center;
  }

  .quoteForm {
    width: 100%;
  }

  .quoteForm form {
    flex-direction: column;
    width: 100%;
    /* Set the width to 100% on smaller screens */
  }

  .quoteForm form .group-form {
    width: 100%;
  }
}



.chooseUsBtn {
  display: flex;
}



@media only screen and (max-width: 430px) {
  .bannerContent>div:nth-child(2) ul {
    z-index: 9999;
  }

  .bannerContent {
    position: relative;
  }

  .bannerContent::after {
    content: "";
    background-color: #0009;
    position: absolute;
    inset: 0;

  }
  footer .footerNav{
    margin: 0;
    padding: 0;
  }

  #homeBanner .container>img:nth-child(1) {
    z-index: -1;
    object-position: right top;
    width: 100%;
  }

  #homeBanner .container::after {
    background-image: none;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(2) {
    margin-left: 87px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(1) {
    margin-left: 83px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(3) {
    margin-left: 83px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(5) {
    margin-left: 82px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(6) {
    margin-left: 78px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(1) {
    position: relative;
    z-index: 9999;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(4) {
    margin-left: 80px;
    white-space: nowrap;
  }
  footer .slider .item img{
    width: 128% !important;
    height: 81% !important;
  }
  footer .slider .item{
    border: none;
    height: 178px;
  }
  footer .londonBranch{
    min-height: 100vh;
  }
  footer .footerNav{
    height: 8vh;
  }

  .quoteForm form .group-form button {
    padding: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .bannerContent>div:nth-child(2) ul li:nth-child(1) {
    margin-left: 35px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(2) {
    margin-left: 39px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(3) {
    margin-left: 37px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(4) {
    margin-left: 37px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(5) {
    margin-left: 39px;
    white-space: nowrap;
  }

  .bannerContent>div:nth-child(2) ul li:nth-child(6) {
    margin-left: 34px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 370px) {

  .bannerContent>div:nth-child(2) ul,
  .bannerContent>div:nth-child(2) ul li i {
    font-size: 16px;
  }
}

@media only screen and (max-width: 280px) {

  .bannerContent>div:nth-child(2) ul,
  .bannerContent>div:nth-child(2) ul li i {
    font-size: 13px;
  }
}