@import url("./header.css");

/* *********** Template ************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #b08ead;
  --basic-color: #fff;
  --basic-invert-color: #000;
  --web-color: #4b3049;
}

body {
  /* overflow-x: hidden; */
  font-family: "Poppins", sans-serif;
  background-color: #d9d9d9;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--basic-invert-color);
  text-decoration: none;
}

/* img {
  width: 100% !important;
  height: 100% !important;
  vertical-align: middle;
} */
main{
  background-color: #fff;
}

img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container{
  max-width: 1250px;
}

section{
  padding: 50px 0;
}

p{
  margin: 0;
}

/* *********** Template ************* */

/* *********** Banner ************* */

.innerBanner{
  min-height: 300px;
  background: url("../Images/aboutBanner.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  display: flex;
  align-items: center;
}
.innerBanner ul{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.innerBanner ul li {
  font-size: 17px;
  color: #fff;
}

.innerBanner ul li a{
  color: #073f63;
  font-weight: bold;
}
.innerBanner h2{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  animation: 1s leftToright forwards;
}
.innerBanner p {
  color: #fff;
  animation: 3s leftToright forwards;
}

@keyframes leftToright {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


/* *********** Banner ************* */
/* *********** reused css ************* */
/* *********** reused css ************* */

/* *********** Header css ************* */
/* header */
/* *********** Header css ************* */

/* *********** Footer css ************* */
/* footer */
/* *********** Footer css ************* */

/* *********** Home css ************* */
/* *********** Home css ************* */
